<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
    }

    #DriverListContainer {
      background-image: url('/css/searchicon.png');
      background-position: 10px 12px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 12px;
      padding: 16px 10px 10px 16px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }


    #CircuitListContainer {
      /*background-image: url('/css/searchicon.png');*/
      background-position: 10px 12px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 12px;
      padding: 16px 10px 10px 16px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }

    #DriverList  {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    #CircuitList {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    #DriverList  li a {
      border: 1px solid #ddd;
      margin-top: -1px; /* Prevent double borders */
      /* background-color: #f6f6f6; */
      padding: 6px;
      text-decoration: none;
      font-size: 12px;
      color: black;
      display: block
    }


    #CircuitList li a {
      border: 1px solid #ddd;
      margin-top: -1px; /* Prevent double borders */
      /* background-color: #f6f6f6; */
      padding: 6px;
      text-decoration: none;
      font-size: 12px;
      color: black;
      display: block
    }

    .unclicked {
      background-color: #f6f6f6
    }

    .clicked{
      background-color: aqua;
    }


    </style>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/visualisation_1_stylesheet.css')}}">

  </head>
<body style = "background-color: #D3D3D3">
<div class = "container">
  <div class = "row" >
    <div class ="col-12">
      <h1>
        F1 Visualisation
      </h1>
    </div>
  </div>

  <div class = "row">
    <div class = "col-2">

      <h3>Driver's Name</h3>

      <input type="text" id="DriverListContainer" onkeyup="DriverSearchFunction()" placeholder="Search for names.." title="Type in a name">

      <ul id="DriverList">
<!--         <li  id = "Driver1"><a href="#">321</a></li>
        <li  id = "Driver2"><a href="#">1</a></li>

        <li  id = "Driver3"><a href="#">32</a></li>
        <li  id = "Driver4"><a href="#">54</a></li>

        <li  id = "Driver5"><a href="#">47</a></li>
        <li  id = "Driver6"><a href="#">3</a></li>
        <li  id = "Driver7"><a href="#">80</a></li> -->
      </ul>

    </div>

    <div class ="col-8">
      Visualisation Container
      <div class = "row" id = "visualisation_1">
        Visualisation 1
      </div>
      <div class = "row" id = "visualisation_2">
        Visualisation 2
      </div>
    </div>

    <div class ="col-2">
      
      <h3>Circuits </h3>

      <input type="text" id="CircuitListContainer" onkeyup="CircuitSearchFunction()" placeholder="Search for names.." title="Type in a name">

      <ul id="CircuitList">
<!--         <li id = "Circuit1"><a href="#">20</a></li>
        <li id = "Circuit2"><a href="#">54</a></li>

        <li id = "Circuit3"><a href="#">1</a></li>
        <li id = "CIrcuit4"><a href="#">16</a></li>

        <li id = "Circuit5"><a href="#">18</a></li>
        <li id = "Circuit6"><a href="#">17</a></li>
        <li id = "Circuit7"><a href="#">70</a></li> -->
      </ul>


    </div>

  </div>

</div>

<!-- bootstrap 4 libraries CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<!-- Visualisation libraries CDN -->
<script src="http://d3js.org/d3.v3.min.js"></script>
  <!-- // <script src="d3.js"></script> -->
<script src="http://d3js.org/topojson.v0.min.js"></script>


<script>
	function DriverSearchFunction() {
	      var input, filter, ul, li, a, i;
	      input = document.getElementById("DriverListContainer");
	      filter = input.value.toUpperCase();
	      ul = document.getElementById("DriverList");
	      li = ul.getElementsByTagName("li");
	      for (i = 0; i < li.length; i++) {
	          a = li[i].getElementsByTagName("a")[0];
	          if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
	              li[i].style.display = "";
	          } else {
	              li[i].style.display = "none";

	          }
	      }
	  }

	  function CircuitSearchFunction() {
	      var input, filter, ul, li, a, i;
	      input = document.getElementById("CircuitListContainer");
	      filter = input.value.toUpperCase();
	      ul = document.getElementById("CircuitList");
	      li = ul.getElementsByTagName("li");
	      for (i = 0; i < li.length; i++) {
	          a = li[i].getElementsByTagName("a")[0];
	          if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
	              li[i].style.display = "";
	          } else {
	              li[i].style.display = "none";

	          }
	      }
	  }




	const SVG_WIDTH = 700;
	const SVG_HEIGHT = 500;
	const BAR_GAP = SVG_HEIGHT/12 - 1;
	const INNERBAR_OFFSET = BAR_GAP * 0.35;
	const INNERBAR_WIDTH = BAR_GAP * 0.3;
	const OUTERBAR_WIDTH = BAR_GAP * 0.6;
	const OUTERBAR_OFFSET = BAR_GAP * 0.2;
	const GRAPH_RIGHTOFFSET = 150;
	var colorMin = 1;

	var colorMax = 8;

	var lengthMin = 0;

	var lengthMax = 1000;

	var margin ={top: 20, right: 20, bottom: 20, left: 20},
		width = SVG_WIDTH - margin.left - margin.right - GRAPH_RIGHTOFFSET,
		height = SVG_HEIGHT - margin.top - margin.bottom;

	var length = d3.scale.linear()
					.range([0, width]);
	length.domain([0, 38]);
	var invertLength = d3.scale.linear()
					.range([lengthMin, lengthMax]).domain([0, width]);

	var	xRange = d3.scale.linear().domain([-23, 15]).range([0, width])

	var xAxis = d3.svg.axis().scale(xRange).tickSize(1).orient("bottom").tickSubdivide(true);

	NumberOfDriversSelected = 0;
	NumberOfCircuitsSelected = 0;

	var DriverIDArray = ["1", "2", "3", "4", "5"];
	var CircuitID = "20";


 // <><><><><><><><><><><>><>> script script
	function exist(array, data){
		for( i = 0; i < array.length; i++){
			if(data === array[i]){
				return true;
			}
		}
		return false;
	}

	// Get a subset of the data based on the group
	function getFilteredData_Drivers(data, DriverIDArray) {
		return data.filter(function(d) { 
			// console.log(d);
			// console.log((DriverIDArray.indexOf(d.DriverId) > -1));
			return ((DriverIDArray.indexOf(d.DriverId) > -1)) ; });
	}

	function getFilteredData_Circuit_Drivers(data, CircuitID , DriverIDArray) {
		return data.filter(function(d) { 
			// console.log(d);
			// console.log((d.CircuitId == CircuitID) & (DriverIDArray.indexOf(d.DriverId) > -1));
			if(DriverIDArray.length > 0){
				return ((d.CircuitId == CircuitID) & (DriverIDArray.indexOf(d.DriverId) > -1)) ;
			}else{
				return ((d.CircuitId == CircuitID)) ; }
			});
		
	}



	function color(componentType){
		if(componentType.includes("stroke")){
			return "#99000D";
		}
		if(componentType.includes("inner_bar")){
			return "#b2df8a";
		}
		if(componentType.includes("outer_bar")){
			return "#fb9a99"
		}
	}

	var svg = d3.select("#visualisation_1")
				.append("svg")
				.attr("id", "viz1")
				.attr("width", SVG_WIDTH)
				.attr("height", SVG_HEIGHT);

	// Define the div for the tooltip
	var div = d3.select("#visualisation_1").append("div")	
	    .attr("class", "tooltip")				
	    .style("opacity", 0)
	    .style("font", "10px times");

	// var $BarcodeContainerSelector = querySelector("barcodeContainer");

	d3.csv("/static/data/PreprocessedDataset2.csv", function(data){
		// console.log(error);
		// console.log(data);

		d3.csv("/static/data/PreprocessedDataset3.csv", function(data2){
			
			var _DriversOptions = [];
			var _CircuitsOptions = [];
			// YearsArray = [];
			// CircuitID = "20";
			// Turn data to usable format
			_DriversSelectionList = d3.select("#DriverList");
			_CircuitsSelectionList = d3.select("#CircuitList");
			data2.forEach(function(d){
				// console.log(parseInt(d.Pattern_1.split("_")[0]));
				// console.log((d.Pattern_1.split("_"))[1].replace("%",""));
				if(_DriversOptions.length > -1){
					if(exist(_DriversOptions, d.DriverId)){
					
					}else{
						_DriversOptions.push(d.DriverId);
						if(exist(DriverIDArray, d.DriverId)){
							_DriversSelectionList.append("li").attr("id", String("Driver_" + d.DriverId))
												.attr("class", "clicked")
												.append("a").attr("href", "#")
												.text(d.DriverName)
												.style("font", "10px times")
							console.log(d.DriverName)
						}else{
							_DriversSelectionList.append("li").attr("id", String("Driver_" + d.DriverId))
												.attr("class", "unclicked")
												.append("a").attr("href", "#")
												.text(d.DriverName)
												.style("font", "10px times")
						}
					}
				}

				if(_CircuitsOptions.length > -1){
					if(exist(_CircuitsOptions, d.CircuitId)){

					}else{
						if(d.CircuitId == CircuitID){
							_CircuitsOptions.push(d.CircuitId);
							_CircuitsSelectionList.append("li").attr("id", String("Circuit_" + d.CircuitId))
												.attr("class", "clicked")
												.append("a").attr("href", "#")
												.text(d.CircuitName)
												.style("font", "10px times")
						console.log(d.CircuitName)
						}else{
							_CircuitsOptions.push(d.CircuitId);
							_CircuitsSelectionList.append("li").attr("id", String("Circuit_" + d.CircuitId))
												.attr("class", "unclicked")
												.append("a").attr("href", "#")
												.text(d.CircuitName)
												.style("font", "10px times")	
						}

					}

				}


			});
			console.log("_DriversSelectionList");
			console.log(_DriversSelectionList.length);
			console.log("_CircuitsSelectionList");
			console.log(_CircuitsSelectionList.length);
			function enterBars(_data, _data2){
				var i1 = -1;
				var i2 = -1;
				// console.log(_data.length);
				for(var i = 0; i < _data.length; i++){
					g = svg.append("g").attr("id", String(i));
					var d = _data[i];
					// var xMove = 0.0;
					// var d = data[i];

					for(var j = 0; j < _data2.length; j++){
						d2 = _data2[j];
						if((d2.DriverId === d.DriverId) & (d2.CircuitId === CircuitID)){
							g.append("rect")
								.attr("transform",function(){
									return "translate(" + [length(23 + parseInt(d2.FirstLapChangeMin)) + GRAPH_RIGHTOFFSET, i*BAR_GAP + OUTERBAR_OFFSET] + ")";
								})
								.attr("width", length((parseInt(d.FirstLapChangeMax) - parseInt(d2.FirstLapChangeMin))))
								.attr("height", OUTERBAR_WIDTH)
								.attr("fill", function(){
									return color("outer_bar");})
								// .on("mouseover", handleMouseOver)
								// .on("mouseout", handleMouseOut)
							// Display First Quartile
							g.append("rect")
								.attr("transform",function(){
									return "translate(" + [length(23 + parseInt(d2.FirstLapChangeFirstQuartile)) - 1 + GRAPH_RIGHTOFFSET, i*BAR_GAP + OUTERBAR_OFFSET - 3] + ")";
								})
								.attr("width", 2)
								.attr("height", OUTERBAR_WIDTH + 6)
								.attr("fill", function(){
									return color("stroke");})

								// Display Second Quartile / Median
							g.append("rect")
								.attr("transform",function(){
									return "translate(" + [length(23 + parseInt(d2.FirstLapChangeMedian)) - 2 + GRAPH_RIGHTOFFSET, i*BAR_GAP + OUTERBAR_OFFSET - 3] + ")";
								})
								.attr("width", 4)
								.attr("height", OUTERBAR_WIDTH + 6)
								.attr("fill", function(){
									return color("stroke");})
								//Display Third Quartile
							g.append("rect")
								.attr("transform",function(){
									return "translate(" + [length(23 + parseInt(d2.FirstLapChangeThirdQuartile)) - 1 + GRAPH_RIGHTOFFSET, i*BAR_GAP + OUTERBAR_OFFSET - 3] + ")";
								})
								.attr("width", 2)
								.attr("height", OUTERBAR_WIDTH + 6)
								.attr("fill", function(){
									return color("stroke");})
						}

					}
					// console.log(length((parseInt(d.FirstLapChangeMax) - parseInt(d.FirstLapChangeMin))));
					g.append("rect")
						.attr("transform",function(){
							return "translate(" + [length(23 + parseInt(d.FirstLapChangeMin)) + GRAPH_RIGHTOFFSET, i*BAR_GAP + INNERBAR_OFFSET] + ")";
						})
						.attr("width", length((parseInt(d.FirstLapChangeMax) - parseInt(d.FirstLapChangeMin))))
						.attr("height", INNERBAR_WIDTH)
						.attr("fill", function(){
							return color("inner_bar");})
						// .on("mouseover", handleMouseOver)
						// .on("mouseout", handleMouseOut)
					// Display First Quartile
					g.append("rect")
						.attr("transform",function(){
							return "translate(" + [length(23 + parseInt(d.FirstLapChangeFirstQuartile)) - 1 + GRAPH_RIGHTOFFSET, i*BAR_GAP + INNERBAR_OFFSET - 3] + ")";
						})
						.attr("width", 2)
						.attr("height", INNERBAR_WIDTH + 6)
						.attr("fill", function(){
							return color("stroke");})

						// Display Second Quartile / Median
					g.append("rect")
						.attr("transform",function(){
							return "translate(" + [length(23 + parseInt(d.FirstLapChangeMedian)) - 2 + GRAPH_RIGHTOFFSET, i*BAR_GAP + INNERBAR_OFFSET - 3] + ")";
						})
						.attr("width", 4)
						.attr("height", INNERBAR_WIDTH + 6)
						.attr("fill", function(){
							return color("stroke");})
						//Display Third Quartile
					g.append("rect")
						.attr("transform",function(){
							return "translate(" + [length(23 + parseInt(d.FirstLapChangeThirdQuartile)) - 1 + GRAPH_RIGHTOFFSET, i*BAR_GAP + INNERBAR_OFFSET - 3] + ")";
						})
						.attr("width", 2)
						.attr("height", INNERBAR_WIDTH + 6)
						.attr("fill", function(){
							return color("stroke");})
					// Display x Axis
					gXAxis = svg.append("g")
					    .attr("class", "x axis")
					    .attr("transform", "translate(" + GRAPH_RIGHTOFFSET + "," + (i+1)*BAR_GAP + ")" )
					    .style("font", "8px times")
					    .call(xAxis);

					// Display label

					g.append("text")
					    .attr("transform", "translate(" + 0 + "," + (i+1)*BAR_GAP + ")" )
				        .attr("x", 0)
				        .attr("y", -INNERBAR_OFFSET)
				        .text(d.DriverName);

					// for (var property in data[i]) {
					//     if (data[i].hasOwnProperty(property)) {
					//     	if(String(property).includes("Pattern_")){
					//     		// console.log(String(data[i][property]));

					// 			g.append("rect")
					// 			.attr("transform",function(){
					// 				return "translate(" + [0, i*BAR_GAP + INNERBAR_OFFSET] + ")";
					// 			})
					// 			.attr("width", width)
					// 			.attr("height", BAR_WIDTH)
					// 			.attr("fill", function(){
					// 				return color("inner_bar");})
					// 			.on("mouseover", handleMouseOver)
					// 			.on("mouseout", handleMouseOut)
					//     	}
					//     }
					// }
				}
			}
				console.log(DriverIDArray);
				console.log(DriverIDArray.length);
				console.log(CircuitID);
				FilteredData = getFilteredData_Drivers(data, DriverIDArray);
				FilteredData2 = getFilteredData_Circuit_Drivers(data2, CircuitID, DriverIDArray);
				// console.log(FilteredData2)
				// console.log(FilteredData2.length)
				enterBars(FilteredData, FilteredData2);
			  	NumberOfDriversSelected = 5;
			  	NumberOfCircuitsSelected = 1;

			  $('li').on('click', function() {
			    temp_count = 0;
			    if(this["id"].includes("Driver")){
			      temp_count = NumberOfDriversSelected;
			    }else{
			      temp_count = NumberOfCircuitsSelected;
			    }

			    if ($(this).hasClass('unclicked')){

			      	if(temp_count < 12){
				        if(this["id"].includes("Driver")){
					       	$(this).removeClass('unclicked');
				        	$(this).addClass('clicked');
				        	NumberOfDriversSelected += 1;
				        	// console.log(this.innerHTML)
				        	DriverIDArray.push(this.id.split("_")[1]);			          
				        	d3.select("#viz1").selectAll("g").remove();
							FilteredData = getFilteredData_Drivers(data, DriverIDArray);
							FilteredData2 = getFilteredData_Circuit_Drivers(data2, CircuitID, DriverIDArray);
							console.log(DriverIDArray);
							// console.log(FilteredData2)
							// console.log(FilteredData2.length)
							enterBars(FilteredData, FilteredData2);
				        }else{
				        	if(temp_count < 1){
						        $(this).removeClass('unclicked');
				        		$(this).addClass('clicked');
					        	NumberOfCircuitsSelected += 1;
					        	// console.log(this.textContent);
					        	CircuitID = String(this.id.split("_")[1]);
					        	console.log(CircuitID);
					        	d3.select("#viz1").selectAll("g").remove();
							  	FilteredData = getFilteredData_Drivers(data, DriverIDArray);
								FilteredData2 = getFilteredData_Circuit_Drivers(data2, CircuitID, DriverIDArray);
								// console.log(FilteredData2)
								// console.log(FilteredData2.length)
								enterBars(FilteredData, FilteredData2);
							}
				        }
			    	}

			    }else if ($(this).hasClass('clicked')){

			      if(temp_count > 0){
			        $(this).removeClass('clicked');
			        $(this).addClass('unclicked');
			        if(this["id"].includes("Driver")){
				        NumberOfDriversSelected -= 1;
				        // var array = [2, 5, 9];
						var index = DriverIDArray.indexOf(String(this.id.split("_")[1]));
						if (index > -1) {
						  DriverIDArray.splice(index, 1);
						  console.log("DriverIDArray length");
						  console.log(DriverIDArray);
						  if(DriverIDArray.length > 0){
						  	d3.select("#viz1").selectAll("g").remove();
							FilteredData = getFilteredData_Drivers(data, DriverIDArray);
							FilteredData2 = getFilteredData_Circuit_Drivers(data2, CircuitID, DriverIDArray);
							// console.log("FilteredData2");
							// console.log(FilteredData2);
							// console.log(FilteredData2.length)
							enterBars(FilteredData, FilteredData2);
						  }else if(DriverIDArray.length == 0){
						  	d3.select("#viz1").selectAll("g").remove();
						  }
						}

			        }else{
				        NumberOfCircuitsSelected -= 1;
				        d3.select("#viz1").selectAll("g").remove();
				        CircuitID = "";
						FilteredData = getFilteredData_Drivers(data, DriverIDArray);
						FilteredData2 = getFilteredData_Circuit_Drivers(data2, CircuitID, DriverIDArray);
						// console.log(FilteredData2)
						// console.log(FilteredData2.length)
						enterBars(FilteredData, FilteredData2);
			        }
			      }

			    }
			  });


		// Create Event Handlers for mouse
		function handleMouseOver(d) {  // Add interactivity
			div.transition()		
	            .duration(200)		
	            .style("opacity", .9);		
	        div	.style("width", 60)
	        	.style("height", 70).html("Min :")
	            .style("left", (d3.event.pageX + 10) + "px")		
	            .style("top", (d3.event.pageY - 28) + "px");	
	        
		      // Use D3 to select element, change color and size
	  	      d3.select(this).attr(
		      	{height: BAR_GAP*0.8}
		      	);
	  	      // console.log(this);
		    }

		function handleMouseOut(d){

			div.transition()		
	                .duration(500)		
	                .style("opacity", 0);	
		      // Use D3 to select element, change color back to normal
		      d3.select(this).attr(
		      	{height: BAR_GAP*0.6}
		      	);
		    }

		});
	});

	</script>




<!-- <script type="text/javascript" src="{{ url_for('static',filename='js/visualisation_1.js')}}"></script> -->

</body>
</html>
