 <!DOCTYPE html>
<html>
<!-- <meta charset="	ISO-8859-15"> -->
<META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
<!-- <meta charset="ascii"> -->
<style>

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 100px;					
    height: 45px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.barcodeContainer {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

</style>
<body>
	<table>
		<th>
	</table>

<!-- 	<div id = "Visualisation_Table"> 
		<div draggable = "true" id = "barcode_1" alt="barcode_1" class = "barcodeContainer"> barcode_1 </div>
		<div id = "barcode_2" alt="barcode_2" class = "barcodeContainer"> barcode_2 </div>
		<div id = "barcode_3" alt="barcode_3" class = "barcodeContainer"> barcode_3 </div>
		<div id = "barcode_4" alt="barcode_4" class = "barcodeContainer"> barcode_4 </div>
		<div id = "barcode_5" alt="barcode_5" class = "barcodeContainer"> barcode_5 </div>
		<div id = "barcode_6" alt="barcode_6" class = "barcodeContainer"> barcode_6 </div>
		<div id = "barcode_7" alt="barcode_7" class = "barcodeContainer"> barcode_7 </div>
		<div id = "barcode_8" alt="barcode_8" class = "barcodeContainer"> barcode_8 </div>
		<div id = "barcode_9" alt="barcode_9" class = "barcodeContainer"> barcode_9 </div>
		<div id = "barcode_10" alt="barcode_10" class = "barcodeContainer"> barcode_10 </div>
		<div id = "barcode_11" alt="barcode_11" class = "barcodeContainer"> barcode_11 </div>
		<div id = "barcode_12" alt="barcode_12" class = "barcodeContainer"> barcode_12 </div>

	</div> -->



	<script src="http://d3js.org/d3.v3.min.js"></script>
	<!-- // <script src="d3.js"></script> -->
	<script src="http://d3js.org/topojson.v0.min.js"></script>

	<script>

	function exist(array, data){
		for( i = 0; i < array.length; i++){
			if(data == array[i]){
				return true;
			}
		}
		return false;
	}

	// Get a subset of the data based on the group
	function getFilteredData_Constructor(data, ConstructorName) {
		return data.filter(function(d) { return d.ConstructorName === ConstructorName; });
	}

	function getFilteredData_Year(data, StartYear, EndYear) {
		return data.filter(function(d) { 
			var status = false;
			_tempYearArray = d.Years.split(",");
			for(i = 1; i < _tempYearArray.length; i++){
				if((parseInt(_tempYearArray[i]) >= parseInt(StartYear)) && (parseInt(_tempYearArray[i]) <= parseInt(EndYear)))
					status = true;
					break; 
				}
			return status;
			});
	}

	const VIZ2_SVG_WIDTH = 500;
	const VIZ2_SVG_HEIGHT = 500;
	const BAR_GAP = VIZ2_SVG_WIDTH/22;
	const BAR_WIDTH = BAR_GAP * 0.6;
	const INNER_RADIUS = 125;
	const OUTER_RADIUS = VIZ2_SVG_WIDTH/2.0 * 0.8;

	var VIZ2_colorMin = 1;

	var VIZ2_colorMax = 8;

	var angleMin_domain = 0;

	var angleMax_domain = 1000;

	// var lengthMin = 0;

	// var lengthMax = 1000;

	var margin ={top: 20, right: 20, bottom: 20, left: 20},
		width = VIZ2_SVG_WIDTH - margin.left - margin.right,
		height = VIZ2_SVG_HEIGHT - margin.top - margin.bottom;

	// var length = d3.scale.linear()
	// 				.range([0, width]);

	var angle = d3.scale.linear()
					.range([0, 2*Math.PI])
					.domain([angleMin_domain, angleMax_domain]);

	// var invertLength = d3.scale.linear()
	// 				.range([lengthMin, lengthMax]).domain([0, width]);

	// console.log(invertLength(4));

	// var VIZ2_color = d3.scale.linear()
	//       			// .interpolate(d3.interpolateHcl)
 //      				.range([d3.rgb("#99000D"), d3.rgb('#fff5f0')]);
	// 				// .range(["red", "green"]);
	// VIZ2_color.domain([VIZ2_colorMin, VIZ2_colorMax]);

	function VIZ2_color(value){
		switch(value){
			case 1: return "#99000D"; break;
			case 2: return "#CB181D"; break;
			case 3: return "#EF3B2C"; break;
			case 4: return "#FB6A4A"; break;
			case 5: return "#FC9272"; break;
			case 6: return "#FCBBA1"; break;
			case 7: return "#FEE0D2"; break;
			case 8: return "#fff5f0"; break;
		}
	}

	// length.domain([lengthMin, lengthMax]);

	var svg = d3.select("body")
				.append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom);

	// Define the div for the tooltip
	var div = d3.select("body").append("div")	
	    .attr("class", "tooltip")				
	    .style("opacity", 0)
	    .style("font", "10px times");

	// var $BarcodeContainerSelector = querySelector("barcodeContainer");

	d3.csv("/static/data/track_data_final.csv", function(data){
		// console.log(error);
		// console.log(data);
		CircuitNameArray = [];
		YearsArray = [];
		// Turn data to usable format
		data.forEach(function(d){
			// console.log(parseInt(d.Pattern_1.split("_")[0]));
			// console.log((d.Pattern_1.split("_"))[1].replace("%",""));
			if(exist(CircuitNameArray, d.Circuit)){
				
			}else{
				CircuitNameArray.push(d.Circuit);
			}
		});

		function arcTween(outerRadius, delay) {
		  return function() {
		    d3.select(this).transition().delay(delay).attrTween("d", function(d) {
		      var i = d3.interpolate(d.outerRadius, outerRadius);
		      return function(t) { d.outerRadius = i(t); return arc(d); };
		    });
		  };
		}


		function enterArcs(data){
			var i1 = -1;
			var i2 = -1;
			for(var i = 0; i < data.length - data.length + 1; i++){
				g = svg.append("g").attr("id", String(i));
				var d = data[i];
				var xAngle = 0.0;
				// var d = data[i];
				for (var property in data[i]) {
				    if (data[i].hasOwnProperty(property)) {
				    	if(String(property).includes("Pattern_")){
				    		// console.log(String(d[property]));
				    		if(d[property] == ""){
				    			continue;
				    		}
				    		// console.log(parseFloat((d[property].split("_"))[1].replace("%",""))*10.0);
			    			var arc = d3.svg.arc()
							    .innerRadius(INNER_RADIUS)
							    .outerRadius(OUTER_RADIUS)
							    .startAngle(xAngle) //converting from degs to radians
							    .endAngle(angle(parseFloat((d[property].split("_"))[1].replace("%",""))*10.0) + xAngle) //just radians

							xAngle += angle(parseFloat((d[property].split("_"))[1].replace("%",""))*10.0);

							g.append("path")
							.attr("id", "arc_" + String(property).split("_")[1])
							.attr("transform",function(){
								return "translate(" + [VIZ2_SVG_WIDTH/2, VIZ2_SVG_HEIGHT/2] + ")";
							})
							.attr("d", arc)
							// .attr("width", function(){
							// 	if(d[property] === ""){
							// 		return 0;
							// 	}
							// 	xMove += length(parseFloat((d[property].split("_"))[1].replace("%",""))*10.0);
							// 	return length(parseFloat((d[property].split("_"))[1].replace("%",""))*10.0);})
							// .attr("height", BAR_WIDTH)
							.attr("fill", function(){
								if(d[property] === ""){
									return VIZ2_color(1);
								}
								// console.log(VIZ2_color(parseInt(d[property].split("_")[0])));
								return VIZ2_color(parseInt(d[property].split("_")[0]));})
							.on("mouseover", handleMouseOver)
							.on("mouseout", handleMouseOut)
							g.append("text")
							.text("Turn Difficulty: " + String(parseInt(d[property].split("_")[0])))
							.attr("id", "textbox_arc_" + String(property).split("_")[1])
							.style("font", "12px times")
							.style("opacity", 0)
							.attr("x", function(d){return VIZ2_SVG_WIDTH/2.0;})
							.attr("y", function(d){return VIZ2_SVG_HEIGHT/2.0;})
							.attr("text-anchor", "middle")
							g.append("text")
							.text("Length of Road (Percentage): " + (d[property].split("_"))[1].replace("%","") )
							.attr("id", "textbox_arc_" + String(property).split("_")[1])
							.style("font", "12px times")
							.style("opacity", 0)
							.attr("x", function(d){return VIZ2_SVG_WIDTH/2.0;})
							.attr("y", function(d){return VIZ2_SVG_HEIGHT/2.0 + 20;})
							.attr("text-anchor", "middle")
							// .style("fill", "#FFFFFF")
				    	}
				    }
				}
			}


		}

		// function enterBars(data){
		// 	var i1 = -1;
		// 	var i2 = -1;
		// 	for(var i = 0; i < data.length; i++){
		// 		g = svg.append("g").attr("id", String(i));
		// 		var d = data[i];
		// 		var xMove = 0.0;
		// 		var d = data[i];
		// 		for (var property in data[i]) {
		// 		    if (data[i].hasOwnProperty(property)) {
		// 		    	if(String(property).includes("Pattern_")){
		// 		    		// console.log(String(data[i][property]));


		// 					g.append("rect")
		// 					.attr("transform",function(){
		// 						return "translate(" + [xMove, i*BAR_GAP] + ")";
		// 					})
		// 					.attr("width", function(){
		// 						if(d[property] === ""){
		// 							return 0;
		// 						}
		// 						xMove += length(parseFloat((d[property].split("_"))[1].replace("%",""))*10.0);
		// 						return length(parseFloat((d[property].split("_"))[1].replace("%",""))*10.0);})
		// 					.attr("height", BAR_WIDTH)
		// 					.attr("fill", function(){
		// 						if(d[property] === ""){
		// 							return VIZ2_color(1);
		// 						}
		// 						return VIZ2_color(parseInt(d[property].split("_")[0]));})
		// 					.on("mouseover", handleMouseOver)
		// 					.on("mouseout", handleMouseOut)
		// 		    	}
		// 		    }
		// 		}
		// 	}
		// }


		//   enterBars(data);
		  enterArcs(data);

	// Create Event Handlers for mouse
	function handleMouseOver(d, i) {  // Add interactivity
		console.log(this.id);
		textbox = d3.selectAll(("#textbox_" + this.id)).style("opacity", .9);
		// div.transition()		
  //           .duration(200)		
  //           .style("opacity", .9);		
        // div	.style("width", 60)
        // 	.style("height", 70).html("Length: " + String(invertLength(this.width.baseVal.value)))
        //     .style("left", (d3.event.pageX + 10) + "px")		
        //     .style("top", (d3.event.pageY - 28) + "px");	
        
	      // Use D3 to select element, change VIZ2_color and size
  	      // d3.select(this).attr("stroke-width", "100px");
	      	// {stroke-width: "10px"}
	      	// );
			// console.log(d);
  	      // console.log(d3.select(this).attr("d"));
	    }

	function handleMouseOut(d, i){
		textbox = d3.selectAll(("#textbox_" + this.id)).style("opacity", 0);
		// div.transition()		
  //               .duration(500)		
  //               .style("opacity", 0);	
	 //      // Use D3 to select element, change VIZ2_color back to normal
	 //      console.log(d3.select(this).attr("d"))
	      // d3.select(this).attr(
	      // 	{outerRadius: OUTER_RADIUS}
	      // 	);
	    }
	});

	</script>
</body>
</html>